<script setup>
import decrypt from "crypto-js/aes";
import CryptoJS from "crypto-js";
import { Encryption } from "../Encryption.js";
const encryption = new Encryption();

const response = await fetch("https://api-situsnobar.cuan.dev/api/situs_nobar.json");
const data = await response.json();
const siteLists = JSON.parse(encryption.decrypt(data.data, "selamatmalamdunia"));

const siteLists2 = siteLists.slice(2);
console.log(siteLists2);
</script>

<template>
  <div class="col-md-6 pt-3 p-0 acenter" v-for="site in siteLists">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <a :href="site.link" title="OBCTOP"
          ><span class="tron">{{ site.name }}</span></a
        >
      </div>
    </div>
  </div>

  <div class="container-games">
    <h2 class="title">LIST SITUS NOBAR SAAT INI</h2>
  </div>
</template>

<style scoped></style>
