<script setup lang="ts">
// https://github.com/vueuse/head
// you can use this to manipulate the document head in any components,
// they will be rendered correctly in the html results with vite-ssg
import siteData from '../src/siteConfig'
import ampCustom from './styles/amp-custom.css?inline'
import ampRuntome from './styles/amp-runtime.css?inline'
import { Article, Breadcrumbs, Organization } from './jsonLd'

useHead({
  title: siteData.title,
  meta: [
    { name: 'description', content: siteData.description },
    {
      name: 'theme-color',
      content: () => (isDark.value ? '#00aba9' : '#ffffff'),
    },
  ],
  link: [
    {
      rel: 'canonical',
      href: siteData.siteUrl,
    },
    {
      rel: 'icon',
      type: 'image/svg+xml',
      href: () => (preferredDark.value ? '/favicon-dark.svg' : '/favicon.svg'),
    },
  ],
  style: [
    {
      'amp-runtime': '',
      'i-amphtml-version': '012107240354000',
      'innerHTML': ampRuntome,
    },
    {
      'amp-custom': '',
      'i-amphtml-version': '012107240354000',
      'innerHTML': ampCustom,
    },
  ],
  script: [
    {
      async: 'true',
      type: 'module',
      src: 'https://cdn.ampproject.org/v0.mjs',
      crossorigin: 'anonymous',
    },

    {
      'async': 'true',
      'type': 'module',
      'custom-element': 'amp-carousel',
      'src': 'https://cdn.ampproject.org/v0/amp-carousel-0.1.mjs',
      'crossorigin': 'anonymous',
    },
    {
      'async': 'true',
      'custom-element': 'amp-install-serviceworker',
      'type': 'module',
      'src': 'https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.mjs',
      'crossorigin': 'anonymous',
    },
    {
      'custom-element': 'amp-youtube',
      'async': 'true',
      'type': 'module',
      'src': 'https://cdn.ampproject.org/v0/amp-youtube-0.1.mjs',
      'crossorigin': 'anonymous',
    },
    {
      'async': 'true',
      'custom-element': 'amp-accordion',
      'type': 'module',
      'src': 'https://cdn.ampproject.org/v0/amp-accordion-0.1.mjs',
      'crossorigin': 'anonymous',
    },

    {
      type: 'application/ld+json',
      children: JSON.stringify(Organization),
    },
    {
      type: 'application/ld+json',
      children: JSON.stringify(Article),
    },
    {
      type: 'application/ld+json',
      children: JSON.stringify(Breadcrumbs),
    },
  ],
})
</script>

<template>
  <RouterView />
</template>
